---

---

<header>
  <div class="mb-6 flex animate-intro items-center justify-between">
    <h1 class="font-semibold">Shreyas Londhe</h1>
    <nav class="space-x-3">
      <a href="/projects" class="exclude text-neutral-500 hover:underline"
        >Projects</a
      >
      <a href="/writing" class="exclude text-neutral-500 hover:underline"
        >Writing</a
      >
    </nav>
  </div>
  <div class="flex flex-col gap-y-3.5">
    <p
      class="animate-intro font-light leading-snug opacity-0 [animation-delay:0.2s]"
    >
      Applied cryptography engineer specializing in zero-knowledge proof
      systems. Currently building production-grade ZK stacks at <a
        href="https://prove.email"
        target="_blank"
        rel="noreferrer">ZkEmail</a
      >.
    </p>
    <p class="animate-intro font-light opacity-0 [animation-delay:0.3s]">
      Experienced in performance tuning, recursive verification pipelines, and
      integrating real-world protocols into ZK circuits.
    </p>
  </div>
</header>
