---
import Layout from "../components/layout.astro";
import IndexIcon from "./icons/Index.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="relative">
    <div class="mb-4 md:absolute md:-ml-36 md:mb-0 md:h-full">
      <a
        class="exclude flex w-fit items-center gap-x-1 md:sticky md:top-8"
        href="/"
        ><IndexIcon /> Index
      </a>
    </div>
    <header>
      <h1 class="font-semibold">{frontmatter.title}</h1>
    </header>
    <article class="prose prose-neutral mt-4 max-w-none dark:prose-invert">
      <slot />
    </article>
  </main>
</Layout>
